---
pagination:
    data: "works"
    size: 1
    alias: "work"
    addAllPagesToCollections: true
tags: works
permalink: "/works/{{ work.fields.Work | slug }}.html"
category: "{{ work.fields.Group }}"
layout: "default"
eleventyComputed:
    title: "{{ work.fields.Work }}"
    thumb: "{{ work.fields.Photos[0] | thumbify }}"
---

<div class="row">
    <div class="column work-images">
        <ul id="image-list">
            {% for i in work.fields.Photos %}
                <li><img src="{{ i | prepend: site.assets_url }}" alt="Image of {{ work.fields.Work }} by {{ work.fields.Author }}"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="column work-meta">
        <h2 class="work-title">{{ work.title }}</h2>
        <h2 class="work-title">{{ work.fields.Work }}</h2>
        <span class="work-author-date">{{ work.fields.Author }}, {{ work.fields.Date }}</span>
        <span class="work-call-number">{{ work.fields["Call Number"] | markdownify }}</span>
        <span class="work-description"><p>{{ work.fields.Description | markdownify }}</p></span>
        <span class="work-digital-version"><p>{{ work.fields['Digital Version'] | markdownify }}</p></span>
    </div>
</div>

